body {
	background: #000;
	height: 100vh;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 24px;
}

.streak {
	margin-top: 3%;
	margin-bottom: 5%;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	height: 100%;
	max-height: 462px;
}

.row {
	display: flex;
	width: 100%;
}

.row-top, .row-bottom {
	align-items: center;
	justify-content: center;
}

.row-center {
	justify-content: space-between;
}

.circle {
	width: 131px;
	height: 131px;
	background: white;
	border-radius: 100%;
	opacity: 0.4;
}

.circle:hover {
	opacity: 0.9;
	transition: .5s;
}

.circle_active {
	opacity: 0.9;
	transition: .5s;
}

.circle_blue {
	background: rgba(4, 72, 247);
}

.circle_red {
	background: rgba(252, 0, 0);
}

.circle_green {
	background: rgba(9, 251, 62);
}

.circle_yellow {
	background: rgba(250, 255, 1);
}